.rapportGlobal{
    width: 100%;
    .rapportWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .rapport_left{
            padding: 10px;
            background: #fff;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px -10px rgba(131, 129, 129, 0.75);
            border: 1px solid rgba(3, 3, 109, 0.171);
            border-radius: 5px;
        }
        .rapport_right{
            padding: 10px;
            background: #fff;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px -10px rgba(131, 129, 129, 0.75);
            border: 1px solid rgba(3, 3, 109, 0.171);
            border-radius: 5px;
        }
    }
}