.operationDetail{
    .operationDetail_wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        border-bottom: 1px solid #dddddd;
        .operation_row{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            .operation_span{
                font-size: .9rem;
            }
            .product-img{
                object-fit: cover;
            }
            .operation_desc{
                color: #555;
                font-size: .8rem;
            }
        }
    }
}